h1 {
  display: flex;
  justify-content: space-between;
}
.check-in {
  margin-right: 8px;
  margin-bottom: 12px;
  color: #fff;
  border-color: #40a9ff;
  background:#40a9ff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px #0000000b;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  width: 150px;
  font-size: 20px;
}